# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Git
.git
.gitignore

# Archivos de IDE y editores
.idea
.vscode
*.swp
*.swo

# Archivos de logs
logs
*.log

# Archivos de test
coverage
.nyc_output

# Archivos temporales
tmp
temp 
 